@model HomeModel
@using System.Data;
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <table class="table">
        <thead>
            <tr>
                @foreach(DataColumn column in Model.TimeEntriesTable.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.TimeEntriesTable.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.TimeEntriesTable.Columns)
                    {
                        <td>@row[column.ColumnName].ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
